#menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#menu.navbar-default {
    font-size: 14px;
    background-color: darkred;
    border-width: 1px;
    border-radius: 4px;
}

#menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: darkred;
}

#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(245, 245, 245, 1);
    background-color: darkred;
}

#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: darkred;
    background-color: rgba(255, 255, 255, 1);
}

#menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}

#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: darkred;
}

board {
    font-family: monospace;
    text-align: center;
    font-size: 25px;
}